{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Saved Cities</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="#">Weather</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container text-center" style="margin-top: 20px;">
        <h1>Saved Cities</h1>

        {% if saved_cities %}
            <button id="deleteCitiesBtn" class="btn btn-success" {% if not saved_cities %}disabled{% endif %}>Delete Cities</button>
        {% else %}
            <button id="deleteCitiesBtn" class="btn btn-success">Delete Cities</button>
            <p style="margin-top: 10px;">No saved cities</p>
        {% endif %}

        <div id="deleteCheckboxes" style="display: none; margin-top: 20px;">
            <form id="deleteCitiesForm">
                <ul class="list-group">
                    {% for saved_city in saved_cities %}
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ saved_city.id }}" id="cityCheckbox{{ saved_city.id }}" name="city_ids">
                                <label class="form-check-label" for="cityCheckbox{{ saved_city.id }}">
                                    {{ saved_city.city }} - Temperature: {{ saved_city.temperature }}°C - Saved by: {{ saved_city.user_name }}
                                </label>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit" id="confirmDeleteBtn" class="btn btn-danger" style="margin-top: 10px;">Confirm Delete</button>
            </form>
        </div>

        <div id="savedCitiesList" style="margin-top: 20px;">
            <ul class="list-group">
                {% for saved_city in saved_cities %}
                    <li class="list-group-item">{{ saved_city.city }} - Temperature: {{ saved_city.temperature }}°C - Saved by: {{ saved_city.user_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div style="position: fixed; bottom: 10px; left: 10px;">
        <a href="{% url 'weather_app:landing_page' %}" class="btn btn-primary">Return Home</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            function updateDeleteButtonState() {
                if ($('.list-group-item').length === 0) {
                    $('#deleteCitiesBtn').prop('disabled', true);
                } else {
                    $('#deleteCitiesBtn').prop('disabled', false);
                }
            }

            updateDeleteButtonState();
            $('#deleteCitiesBtn').click(function() {
                $('#deleteCitiesBtn').hide();
                $('#savedCitiesList').hide();
                $('#deleteCheckboxes').show();
            });

            $('#deleteCitiesForm').submit(function(event) {
                event.preventDefault();
                var cityIds = [];
                $('input[name="city_ids"]:checked').each(function() {
                    cityIds.push($(this).val());
                });

                if (cityIds.length > 0) {
                    $.ajax({
                        url: '{% url "weather_app:delete_saved_cities" %}',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            city_ids: cityIds,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                        }),
                        dataType: 'json',
                        success: function(response) {
                            alert("Selected city/cities deleted!");
                            location.reload(); // Refresh the page to update the list
                            updateDeleteButtonState();
                        },
                        error: function(xhr, status, error) {
                            alert("Error deleting cities.");
                        }
                    });
                } else {
                    alert("No city/cities deleted!");
                }
            });
        });
    </script>
</body>
</html>
